* {
  margin: 0%;
  padding: 0%;
}

.mainpart {
  float: left;
  padding-top: 6%;

  display: block;
}
h1 {
  color: #005f4f;
  font-size: 3rem;

  text-transform: capitalize;
  font-family: livvic;
}
h5 {
  color: #c28500;
  font-size: 2rem;
  text-transform: capitalize;
  float: right;
  padding-right: 40%;

  font-family: livvic;
}
p {
  color: #01332a;
  float: left;
  font-size: 2rem;
  font-weight: 800;
  text-transform: capitalize;
}

.heading {
  float: right;
  padding-right: 20%;
}
span {
  color: #033a45;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: bold;
}
hr {
  text-align: center;
  width: 100%;
}
img {
  float: right;
  padding-right: 10%;
  padding-top: 2%;
}

@media screen and (width<=1265px) {
  .mainpart {
    float: right;
    display: block;
    padding-left: 0%;
  }
  h1 {
    float: left;
    font-size: 4rem;
    display: inline-flex;
  }
  h5 {
    float: left;
    font-size: 3rem;
  }
  p {
    padding-top: 5%;
    font-size: 3rem;
  }
  span {
    color: #070606;
    font-size: 25px;
    text-transform: capitalize;
    margin-top: 5%;
    display: block;
  }
  img {
    width: 40%;
    height: 100vh;
    float: left;
  }
}

.forword {
  font-size: 4rem;
}

nav a {
  font-size: 2rem;
  background: linear-gradient(to right, rgba(9, 9, 9, 0.932), rgb(33, 26, 26));
  color: white;
  font-family: livvic;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav {
  display: inline;
  justify-content: space-around;
}
.back {
  float: left;
  margin-left: 2%;
  padding: 0.5% 3% 0.5% 3%;
  border: 3px solid rgb(243, 238, 238);
  border-radius: 20%;
}
.forward {
  float: right;
  margin-right: 2%;
  padding: 0.5% 3% 0.5% 3%;
  border: 3px solid rgb(243, 238, 238);

  border-radius: 20%;
}
.back:hover {
  text-shadow: 4px 2px 3px rgb(160, 150, 150);
}
.forward:hover {
  text-shadow: 4px 2px 3px rgb(160, 150, 150);
}
