* {
  padding: 0px;
  margin: 0px;
}
.heading {
  background-color: #3c7f72;
}
h1 {
  background-color: #3c7f72;
  color: black;
  font-size: 4rem;
  padding-left: 3%;
  font-weight: bold;
  font-family: livvic;
  width: 100%;
  text-transform: capitalize;
}

nav ul li {
  font-size: 2rem;
  font-weight: bold;
  display: inline;
  list-style: circle;
  justify-content: space-between;
}
.li_ele1 {
  margin-left: 4%;
}
.li_ele2 {
  margin-left: 30%;
}
.sec {
  margin: 2%;
  font-size: 1rem;
  font-weight: bold;
  font-family: livvic;
  margin-top: 1%;
  text-transform: capitalize;
}
.grad {
  margin-left: 45%;
  font-size: 1rem;
  font-weight: bold;
  font-family: livvic;
  margin-top: -7.6%;
  text-transform: capitalize;
}
h3 {
  font-size: 1.5rem;
}
hr {
  width: 60%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 1%;
  border: 2px solid red;
}

a {
  text-decoration: none;
  font-size: 1rem;
}
nav {
  display: inline;
  justify-content: space-around;
}
.back {
  float: left;
  margin-left: 2%;
  padding: 0.5% 3% 0.5% 3%;
  border: 3px solid rgb(243, 238, 238);
  border-radius: 20%;
  background: linear-gradient(to right, black, rgb(51, 49, 49));
  color: aliceblue;
  margin-top: 22%;
}
.forward {
  float: right;
  margin-left: 100%;
  padding: 0.5% 3% 0.5% 3%;
  border: 3px solid rgb(243, 238, 238);

  border-radius: 20%;
  background: linear-gradient(to right, black, rgb(51, 49, 49));
  color: aliceblue;
  margin-top: 0.005%;
}
.back:hover {
  text-shadow: 4px 2px 3px rgb(160, 150, 150);
}
.forward:hover {
  text-shadow: 4px 2px 3px rgb(160, 150, 150);
}
@media screen and (width<=1200px) {
  nav ul li {
    font-size: 2rem;
    font-weight: bold;
    display: inline;
    list-style: circle;
    justify-content: space-between;
  }
  .li_ele1 {
    margin-left: 4%;
  }
  .li_ele2 {
    margin-left: 30%;
  }
  .grad {
    margin-left: 59%;
    font-size: 1rem;
    font-weight: bold;
    font-family: livvic;
    margin-top: -6.5rem;
    text-transform: capitalize;
  }
  hr {
    width: 90%;
  }
}
