* {
  padding: 0%;
  margin: 0%;
  font-family: livvic;
}
.head {
  background-color: #3c7f72;
  font-size: 2rem;
  margin-top: 1%;
  padding-left: 2%;
  text-transform: capitalize;
}
.list {
  margin: 4%;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #011329;
}
.I1 {
  margin-top: 1%;
}
.back {
  float: left;
  margin-left: 2%;
  padding: 0.5% 3% 0.5% 3%;
  border: 3px solid rgb(243, 238, 238);
  border-radius: 20%;
  background: linear-gradient(to right, black, rgb(51, 49, 49));
  color: aliceblue;
  margin-top: 5%;
}
.forward {
  float: right;
  margin-left: 100%;
  padding: 0.5% 3% 0.5% 3%;
  border: 3px solid rgb(243, 238, 238);

  border-radius: 20%;
  background: linear-gradient(to right, black, rgb(51, 49, 49));
  color: aliceblue;
  margin-top: -2%;
}
.back:hover {
  text-shadow: 4px 2px 3px rgb(160, 150, 150);
}
.forward:hover {
  text-shadow: 4px 2px 3px rgb(160, 150, 150);
}
