* {
  margin: 0%;
  padding: 0%;

  background-repeat: no-repeat;
}
.main {
  padding-left: 60rem;
  padding-top: 10%;
  align-content: flex-start;
  flex-wrap: nowrap;
}
h1 {
  color: #392700;
  font-size: 3rem;
  font-family: livvic;
}

h4 {
  color: #3c7f72;
  font-size: 2rem;
  font-family: livvic;
}
hr {
  height: 40%;
  width: 1.5rem;
  padding-left: 70%;
  border: 1px solid #000000;
}
.name {
  color: #000000;
  font-weight: 500;
  font-size: 1rem;
  font-family: livvic;
  font-style: italic;
  text-transform: capitalize;
}

.design {
  padding-right: 80%;
}
.one {
  width: 100%;
  height: 80%;

  border: 5px solid #392700;
}
.two {
  width: 100%;
  height: 80%;

  border: 5px solid#8c3118;
}
.three {
  width: 100%;
  height: 80%;

  border: 5px solid #653727;
}
.four {
  width: 100%;
  height: 80%;

  border: 5px solid #2f5b52;
}
nav a {
  background-color: #294d46;
  justify-content: space-between;
  display: inline-flex;
  color: #040c15;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: livvic;
  width: 100%;
}
a:hover {
  text-shadow: 1px 1px 2px #ffaf00;
}
ul {
  width: 100%;
  height: 6rem;
  justify-content: space-between;
  display: inline-flex;

  list-style-type: none;
  background-color: #294d46;
}
.list {
  width: 100%;
}
li {
  display: inline-flex;
  padding-top: 2%;
  background-color: #294d46;
  overflow: hidden;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: solid;
  margin-left: 3%;
  margin-right: 2%;
  width: 100%;
}
@media screen and (width<=900px) {
  .main {
    padding: 0px;
  }
  h1 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  .name {
    font-size: 0.5rem;
    padding-top: 1%;
    padding-bottom: 3%;
  }
  nav a {
    display: inline-flex;

    font-size: 0.5rem;
    font-family: livvic;
    width: 100%;
  }
  a:hover {
    text-shadow: 1px 1px 2px #ffaf00;
  }
  ul {
    width: 100%;
    height: 2rem;
    justify-content: space-between;
    display: inline-flex;

    list-style-type: none;
    background-color: #294d46;
  }
  .list {
    width: 100%;
  }
  li {
    display: inline-flex;
    padding-top: 2%;
    background-color: #294d46;
    overflow: hidden;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: solid;
    margin-left: 3%;
    margin-right: 2%;
    width: 100%;
  }
  .design {
    padding-right: 80%;
  }
  .one {
    width: 100%;
    height: 50%;

    border: 2px solid #392700;
  }
  .two {
    width: 100%;
    height: 50%;

    border: 2px solid#8c3118;
  }
  .three {
    width: 100%;
    height: 50%;

    border: 2px solid #653727;
  }
  .four {
    width: 100%;
    height: 50%;

    border: 2px solid #2f5b52;
  }
  hr {
    height: 20%;
    width: 1rem;
    padding-left: 50%;
    border: 0.5px solid #000000;
  }
}
