/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

/* Header styles */
.main {
  text-align: left;
  padding-top: 6rem;
  margin-left: 70px;
  margin-bottom: 84px;
}

h1 {
  color: #3c7f72;
  font-size: 3rem;
  font-family: "Livvic", sans-serif;
}

h4 {
  color: #4b4b4b;
  font-size: 2rem;
  font-family: "Livvic", sans-serif;
}

hr {
  height: 0.1rem;
  width: 10rem;

  background-color: #3c7f72;
  border: none;
}

.name {
  color: #333333;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Livvic", sans-serif;
}

/* Navigation styles */
nav a {
  background-color: #3c7f72;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Livvic", sans-serif;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease-in-out;
}

nav a:hover {
  background-color: #579e8e;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding-top: 2rem;
}

/* About section */
.about {
  display: flex;
  align-items: center;
  padding-bottom: 82px;
  padding-top: 108px;
  padding-left: 70px;
}

.heading h1 {
  color: #3c7f72;
  font-size: 3rem;
  font-family: "Livvic", sans-serif;
}

.heading h5 {
  color: #4b4b4b;
  font-size: 2rem;
  font-family: "Livvic", sans-serif;
  font-style: italic;
}

.para p {
  color: #4b4b4b;
  font-size: 1.5rem;
}

/* Work Experience section */
.work_experience {
  margin-left: 72px;
  background-color: #f8f8f8;
  margin-top: 88px;
}

.work_experience h1 {
  color: #3c7f72;
  font-size: 2.5rem;
  font-family: "Livvic", sans-serif;
}

.work_experience ul {
  list-style: none;
  padding: 2rem 0;
}

.work_experience h3 {
  color: #4b4b4b;
  font-size: 1.8rem;
  font-family: "Livvic", sans-serif;
}

.work_experience p {
  color: #4b4b4b;
  font-size: 1.2rem;
}

/* Skills section */
.skills {
  padding: 5rem 10%;
}

.skills h1 {
  color: #3c7f72;
  font-size: 2.5rem;
  font-family: "Livvic", sans-serif;
  margin-left: -161px;
}

.list_items {
  list-style: none;
  padding: 2rem 0;
}

.list_items li {
  color: #4b4b4b;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Contact section */
.contact {
  text-align: center;
  background-color: #3c7f72;
  color: #ffffff;
}

.contact h1 {
  font-size: 2.5rem;
  font-family: "Livvic", sans-serif;
}

.contact .items {
  list-style: none;
}

.contact .items li {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Responsive styles */
@media screen and (max-width: 900px) {
  .main {
    padding-top: 10rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  .name {
    font-size: 1rem;
    padding-top: 1rem;
  }
  nav a {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
  }
  .about {
    flex-direction: column;
    align-items: flex-start;
    padding: 5rem 5%;
  }
  .photo img {
    width: 70%;
    padding-top: 2rem;
  }
  .work_experience {
    padding: 5rem 5%;
  }
  .skills {
    padding: 5rem 5%;
  }
  .list_items {
    padding: 1rem 0;
  }
  .contact {
    padding: 5rem 5%;
  }
}

.spanpara {
  display: inline;
  float: right;
  margin-left: 574px;
  margin-top: -194px;
}

.photo img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin-left: 255px;
}
.education {
  margin-left: 68px;
}
.content {
  padding-left: 241px;
}
.li_ele2 {
  padding-left: 176px;
}
.secondhr {
  height: 0.1rem;
  width: 38rem;
  background-color: #3c7f72;
  border: none;
  margin-left: 224px;
}
.sec {
  margin-left: 238px;
}
.grad {
  margin-left: 494px;
  margin-top: -77px;
}
.second {
  padding-left: 40px;
}
.third {
  padding-left: 30px;
}
.list_items {
  display: inline;
  margin-left: -30px;
}
.heading_contact {
  color: white;
}
.items_contact {
  padding-bottom: 30px;
}
.list_contact {
  padding-bottom: 30px;
  display: flex;
}
.I1 {
  padding-left: 115px;
}
a {
  color: white;
  text-decoration: none;
}
