* {
  padding: 0px;
  margin: 0px;
  font-family: livvic;
}
h1 {
  font-size: 3rem;
  margin: 1%;
  color: #104350;
}
.list {
  margin: 3%;
  color: #282128;
  margin-top: 2%;
}
num {
  margin-left: -2%;
  /* margin-bottom: 4%; */
  font-size: 3rem;
  color: #992800;
}
.first {
  margin-left: 4%;
  margin-top: -3%;
}

.second {
  margin-left: 4%;
  margin-top: -3%;
}
.third {
  margin-left: 4%;
  margin-top: -3%;
}
h3 {
  font-size: 1rem;
}
p {
  font-size: 0.9rem;
  margin: 1% 0% 1% 0%;
}
hr {
  width: 50%;
  border: 0.5px solid grey;
}
.lines {
  justify-content: space-between;
  float: right;
  margin-right: 50%;
  display: inline;
}
.back {
  float: left;
  margin-left: 2%;
  padding: 0.5% 3% 0.5% 3%;
  border: 3px solid rgb(243, 238, 238);
  border-radius: 20%;
  background: linear-gradient(to right, black, rgb(51, 49, 49));
  color: aliceblue;
  margin-top: 5%;
}
.forward {
  float: right;
  margin-left: 100%;
  padding: 0.5% 3% 0.5% 3%;
  border: 3px solid rgb(243, 238, 238);

  border-radius: 20%;
  background: linear-gradient(to right, black, rgb(51, 49, 49));
  color: aliceblue;
  margin-top: -2%;
}
.back:hover {
  text-shadow: 4px 2px 3px rgb(160, 150, 150);
}
.forward:hover {
  text-shadow: 4px 2px 3px rgb(160, 150, 150);
}
